<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head')  %>
</head>
<body>
    <%- include('../includes/header')  %>

    <section class="banner">
        <figure><img src="/images/banner-cc.png" alt="Banner de ofertas"></figure>   
    </section>
    <main>
        <section class="cart-desktop cart-section">
            <article class="cart-detail">
                <section class="cart-title">
                    <h3>Producto</h3>
                    <h3>Cantidad</h3>
                </section>
                <section class="product-cart">
                    <section class="img-cart">
                        <i class="far fa-times-circle"></i>
                        <figure><img src="/products/cafe-colombia.jpg" alt="Cafe de Colombia"></figure>
                    </section>
                    <section class="descrip-cart-d descrip-cart">
                        <p>Café de Colombia</p>
                        <p>AEROPRESS</p>
                        <p>1 KILO</p>
                        <p>1 x $3500</p>
                    </section>
                    <form class="descrip-cart quantity-cart">
                        <button type="button"><i class="fas fa-minus"></i></button>
                        <input type="number">
                        <button type="button"><i class="fas fa-plus"></i></button>
                    </form>
                </section>  
                <a href="/" class="back-button"><i class="fas fa-long-arrow-alt-left"></i>SEGUIR COMPRANDO</a>
                <button type="button" class="buy-button">Actualizar Carrito</button>
            </article>

            <article class="total">
                <h3>Total del carrito</h3>
                <section class="subtotal">
                    <h4>Subtotal</h4>
                    <p>$3.500</p>
                </section>
                <h4 class="subtotal-e">Envío</h4>
                <section class="form-e">
                    <form action="/" method="POST">
                        <fieldset>
                            <input type="radio" name="envio" id="envio" value="500">
                            <label for="envio">Envío a domicilio (todo el país): $500.00</label>  
                        </fieldset>
                        <fieldset>
                            <input type="radio" name="envio" id="envio-g" value="0">
                            <label for="envio-g">Retiro por Local (Gratis)</label>
                        </fieldset>
                        <section class="subtotal">
                            <p>Total</p>
                            <p>$3.500</p> 
                        </section>
                        <section class="checkout">
                            <button type="submit" class="checkout-button">Finalizar compra</button>
                        </section>
                    </form>
                </section>   
            </article>
        </section>
    </main>

    <%- include('../includes/footer')  %>
</body>
</html>