<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head')  %>
</head>
<body>

    <%- include('../includes/header')  %>

    <section class="banner">
        <figure><img src="/images/banner-cc.png" alt="Banner de ofertas"></figure>   
    </section>
    <main>
        <section>
            <article class="header-form">
                <h3 class="g-title">Crear producto</h2>
            </article>
            <section>
                <form action="/products/create" method="POST" enctype="multipart/form-data" class="form-registro form-edit">
                    <fieldset>
                        <label for="nombre">Nombre del producto:</label>
                        <input type="text" name="nombre" id="nombre" required class="input-registro">
                    </fieldset>

                    <fieldset>
                        <label for="precio">Precio:</label>
                        <input type="number" name="precio" id="precio" required class="input-registro">
                    </fieldset>

                    <fieldset>
                        <label for="descripcion">Descripción:</label>
                        <textarea name="descripcion" id="descripcion" cols="30" rows="2" required class="input-registro"></textarea>
                    </fieldset>

                    <fieldset>
                        <label for="variedad">Variedad:</label>
                        <input type="text" name="variedad" id="variedad" required class="input-registro">
                    </fieldset>

                    <fieldset>
                        <label for="olfato">Aspecto olfativo:</label>
                        <input type="text" name="olfato" id="olfato" required class="input-registro">
                    </fieldset>

                    <fieldset>
                        <label for="origen">Origen:</label>
                        <input type="text" name="origen" id="origen" required class="input-registro">
                     </fieldset>

                     <fieldset>
                        <label for="resena">Reseña:</label>
                        <input type="text" name="resena" id="resena" required class="input-registro">
                     </fieldset>

                     <fieldset>
                        <label for="marca"><p><span>Marca:</label>
                        <input type="text" name="marca" id="marca" required class="input-registro">
                     </fieldset>
                    
                   <fieldset>
                        <label for="peso">Peso:</label>
                        <p class="info">*Para seleccionar mas de una opción debe hacer clic en las opciones mientras mantiene presionada la tecla CTRL</p>
                        <select name="peso" id="peso" multiple class="input-registro">
                            <option value="250g">250g</option>
                            <option value="500g">500g</option>
                            <option value="1kg">1Kg</option>
                        </select>
                   </fieldset>

                   <fieldset>
                        <label for="stock">Cantidad:</label>
                        <input type="number" name="stock" id="stock" required class="input-registro">
                    </fieldset>

                   <fieldset>
                    <label for="categoria">Categoría:</label>
                    <select name="categoria" id="categoria" class="input-registro">
                        <option value="">Elige una opción</option>
                        <option value="En Grano">En Grano</option>
                        <option value="Molido Espresso">Molido Espresso</option>
                        <option value="Molido Filtro">Molido Filtro</option>
                    </select>
                    </fieldset>

                    <fieldset>
                        <label for="informacion">Información:</label>
                        <textarea name="informacion" id="informacion" cols="30" rows="5" required class="input-registro"></textarea>
                    </fieldset>

                    <fieldset>
                        <label for="packaging">Packaging:</label>
                        <textarea name="packaging" id="packaging" cols="30" rows="5" required class="input-registro"></textarea>
                    </fieldset>
    
                    <fieldset>
                        <label for="image">Imagen:</label>
                        <input type="file" name="image" id="image" required class="input-registro">
                    </fieldset>
    
                    <button type="submit" class="form-button">Crear</button>
                </form>
            </section>
            
        </section>
    </main>

    <%- include('../includes/footer')  %>
</body>
</html>