<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head')  %>
</head>
<body>

    <%- include('../includes/header')  %>

    <section class="banner">
        <figure><img src="/images/banner-cc.png" alt="Banner de ofertas"></figure>   
    </section>
    <main>
        <section class="product-description">
            <article>
                <div class="pruebando">
                    <img src="/images/cafe-colombia.jpg" alt="Cafe de colombia">
                </div>
            </article>
            <article>
                <div>
                    <h3>Café de Colombia.</h3>
                    <p class="price">$3.500</p>
                    <h4>CAFÉ DE COLOMBIA. CATURRA.</h4>
                    <p>Variedad: Caturra, Castillo, Typica</p>
                    <p>Procesamiento: Lavado</p>
                    <p>Altitud: 2.000 mts.</p>
                    <p>Finca La Estrella del Ostro, región de Huila, Colombia. Tostado en Bariloche.</p>
                    <p> Envíos a todo el país.</p>
                    <p>GRATIS EN COMPRAS MAYORES A $3.500.</p>
                    <form action="/" class="form-description">
                        <fieldset class="weight-form">
                            <label>Elegí el peso</label>
                            <select name="peso" id="peso">
                                <option value="0">Elige una opción</option>
                                <option value="1">1Kg</option>
                                <option value="0.25">250g</option>
                            </select>
                        </fieldset>
                        <fieldset class="quantity-form">
                            <label>Cantidad</label>
                            <div class="quantity">
                                <button type="button"><i class="fas fa-minus"></i></button>
                                <input type="number">
                                <button type="button"><i class="fas fa-plus"></i></button>
                            </div>
                        </fieldset>
                        <button type="submit" class="buy-button">Añadir al carrito</button>
                    </form>
                </div>
            </article>
        </section>
        <section>
            <article class="descripcion-producto">
                <h3 class="description-title">Descripción</h3>
                <h4 class="subtitle">Información detallada - Café de Colombia.</h4>
                <p class="p-description">Esta variedad de café se obtiene de la Finca La Estrella del Ostro, ubicada en la localidad de La Plata, en el departamento de Huila a 2000 metros sobre el nivel del mar. La recolección es selectiva, de forma manual y el procesamiento del café, como en la mayoría de los cafés de Colombia de esta altura, es lavado.</p>
                <h4 class="subtitle">Packaging</h4>
                <p class="p-description">La frescura del café es muy importante para poder disfrutar nuestro producto. Por eso envasamos todos nuestros cafés en bolsas de papel de aluminio con válvula desgasificadora dentro de los 60 minutos del tueste. Tostamos y despachamos nuestro café diariamente, y te garantizamos que recibirás el producto con menos de 15 días desde su elaboración. Tenemos RNE y RNPA para todos nuestros productos, que llevan la fecha de tueste sellada.</p>
            </article>
        </section>
    </main>
    
    <%- include('../includes/footer')  %>
</body>
</html>