<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chaco Coffe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/components/reset.css">
    <link rel="stylesheet" href="css/components/header.css">
    <link rel="stylesheet" href="css/components/footer.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header class="main-header">
        <section class="top-header">
            <figure class="logo"> 
                <img src="images/2333599.png" alt="Logo de Chaco Coffe">
            </figure>
            <form action="/" method="GET" class="form-input">
                <input class="search" type="search" name="busqueda" placeholder="Buscar en nuestra tienda">
                <button type="submit" class="fa fa-search search-button"></button>
            </form>
            <nav class="nav-rl">
                <a href="/register" class="copy-header">Registrarse</a> 
                <a href="/login" class="copy-header">Ingresar</a>
                <a href="/cart" class="desk-cart"><i class="fas fa-shopping-cart"></i></a>
            </nav>
        </section>
        <section class="burger-cart">
            <a href="#" class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </a>
            <a href="#" class="cart">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </section>
        <nav class="main-navbar">
            <a href="/">Inicio</a>
            <a href="#">Productos</a>
            <a href="#">Ventas</a>
            <a href="#">Nosotros</a>
            <a href="#">Contacto</a>
        </nav>
    </header>
    <section class="banner">
        <figure><img src="images/banner-cc.png" alt="Banner de ofertas"></figure>   
    </section>
    <main>
        <section class="product-description">
            <article>
                <div class="pruebando">
                    <img src="images/cafe-colombia.jpg" alt="Cafe de colombia">
                </div>
            </article>
            <article>
                <div>
                    <h3>Café de Colombia.</h3>
                    <p class="price">$3.500</p>
                    <h4>CAFÉ DE COLOMBIA. CATURRA.</h4>
                    <p>Variedad: Caturra, Castillo, Typica</p>
                    <p>Procesamiento: Lavado</p>
                    <p>Altitud: 2.000 mts.</p>
                    <p>Finca La Estrella del Ostro, región de Huila, Colombia. Tostado en Bariloche.</p>
                    <p> Envíos a todo el país.</p>
                    <p>GRATIS EN COMPRAS MAYORES A $3.500.</p>
                    <form action="/" class="form-description">
                        <fieldset class="weight-form">
                            <label>Elegí el peso</label>
                            <select name="peso" id="peso">
                                <option value="0">Elige una opción</option>
                                <option value="1">1Kg</option>
                                <option value="0.25">250g</option>
                            </select>
                        </fieldset>
                        <fieldset class="quantity-form">
                            <label>Cantidad</label>
                            <div class="quantity">
                                <button type="button"><i class="fas fa-minus"></i></button>
                                <input type="number">
                                <button type="button"><i class="fas fa-plus"></i></button>
                            </div>
                        </fieldset>
                        <button type="submit" class="buy-button">Añadir al carrito</button>
                    </form>
                </div>
            </article>
        </section>
        <section>
            <article class="descripcion-producto">
                <h3 class="description-title">Descripción</h3>
                <h4 class="subtitle">Información detallada - Café de Colombia.</h4>
                <p class="p-description">Esta variedad de café se obtiene de la Finca La Estrella del Ostro, ubicada en la localidad de La Plata, en el departamento de Huila a 2000 metros sobre el nivel del mar. La recolección es selectiva, de forma manual y el procesamiento del café, como en la mayoría de los cafés de Colombia de esta altura, es lavado.</p>
                <h4 class="subtitle">Packaging</h4>
                <p class="p-description">La frescura del café es muy importante para poder disfrutar nuestro producto. Por eso envasamos todos nuestros cafés en bolsas de papel de aluminio con válvula desgasificadora dentro de los 60 minutos del tueste. Tostamos y despachamos nuestro café diariamente, y te garantizamos que recibirás el producto con menos de 15 días desde su elaboración. Tenemos RNE y RNPA para todos nuestros productos, que llevan la fecha de tueste sellada.</p>
            </article>
        </section>
    </main>
    <footer>
        <section class="logo-location">
            <figure class="logo-f"> 
                <img src="images/2333599.png" alt="Logo de Chaco Coffe">
            </figure>
            <section>
                <h4>Ubicación</h4>
                <p>Lorem ipsum, dolor</p>
                <p>Lorem ipsum dolor sit.</p>
                <p>Lorem, ipsum dolor.</p>
            </section>
            <nav class="footer-nav">
                <a href="#">Locales</a>
                <a href="#">Formas de pago</a>
                <a href="#">Política de devolución</a>
                <a href="#">Términos y condiciones</a>
            </nav>
        </section>
        <nav class="social-net">
            <a href=""><i class="fab fa-facebook-square"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-whatsapp-square"></i></a>
            <a href=""><i class="fab fa-twitter-square"></i> </a>
        </nav>
        <p>Copyright © 2021-2022 Chaco Coffe</p>
    </footer>
</body>
</html>