<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head')  %> 
</head>
<body>

    <%- include('../includes/header')  %>
    <main>
        <section class="featured">
            <header><h3>Productos</h3></header>
            <section class="products">
                <article>
                    <section class="product">
                        <figure><img src="/images/cafe-colombia.jpg" alt="Café de colombia"></figure>
                        <h4 class="description">Café de Colombia</h4>
                        <p class="price">$3.500</p>
                        <a href="#" class="buy-button">Comprar</a>
                    </section>
                </article>
                <article>
                    <section class="product">
                        <figure><img src="/images/cafe-colombia.jpg" alt="Café de colombia"></figure>
                        <h4 class="description">Café de Colombia</h4>
                        <p class="price">$3.500</p>
                        <a href="#" class="buy-button">Comprar</a>
                    </section>
                </article>
                <article>
                    <section class="product">
                        <figure><img src="/images/cafe-colombia.jpg" alt="Café de colombia"></figure>
                        <h4 class="description">Café de Colombia</h4>
                        <p class="price">$3.500</p>
                        <a href="#" class="buy-button">Comprar</a>
                    </section>
                </article>
                <article>
                    <section class="product">
                        <figure><img src="/images/cafe-colombia.jpg" alt="Café de colombia"></figure>
                        <h4 class="description">Café de Colombia</h4>
                        <p class="price">$3.500</p>
                        <a href="#" class="buy-button">Comprar</a>
                    </section>
                </article>
                <article>
                    <section class="product">
                        <figure><img src="/images/cafe-colombia.jpg" alt="Café de colombia"></figure>
                        <h4 class="description">Café de Colombia</h4>
                        <p class="price">$3.500</p>
                        <a href="#" class="buy-button">Comprar</a>
                    </section>
                </article>
                <article>
                    <section class="product">
                        <figure><img src="/images/cafe-colombia.jpg" alt="Café de colombia"></figure>
                        <h4 class="description">Café de Colombia</h4>
                        <p class="price">$3.500</p>
                        <a href="#" class="buy-button">Comprar</a>
                    </section>
                </article>
            </section>
        </section>
    </main>

    <%- include('../includes/footer')  %>
</body>
</html>