<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chaco Coffe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header class="main-header">
        <div class="top-header">
            <div class="logo"> 
                <img src="images/2333599.png" alt="Logo de Chaco Coffe">
            </div>
            <div class="form-input" action="#" method="GET">
                    <input class="search" type="search" name="busqueda" placeholder="Buscar en nuestra tienda"><i class="fa fa-search"></i>
            </div>
            <a href="#" class="copy-header">Registrarse</a> 
            <a href="#" class="copy-header">Ingresar</a>
        </div>
        <div class="burger-cart">
            <a href="#" class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </a>
            <a href="#" class="cart">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>
        <nav class="main-navbar">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Ventas</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section class="banner">
            <img width="100%" src="images/banner-cc.png" alt="Banner de ofertas">
    </section>
    <main>
        <section class="featured">
            <h3>Destacados</h3>
            <div class="products">
                <article>
                    <div>
                        <img src="images/cafe-colombia.jpg" alt="Café de colombia">
                        <h4 class="description">Café de Colombia</h4>
                        <p class="price">$3.500</p>
                        <a href="#" class="buy-button">Comprar</a>
                    </div>
                </article>
                <article>
                    <div>
                        <img src="images/cafe-colombia.jpg" alt="Café de colombia">
                        <h4 class="description">Café de Colombia</h4>
                        <p class="price">$3.500</p>
                        <a href="#" class="buy-button">Comprar</a>
                    </div>
                </article>
                <article>
                    <div>
                        <img src="images/cafe-colombia.jpg" alt="Café de colombia">
                        <h4 class="description">Café de Colombia</h4>
                        <p class="price">$3.500</p>
                        <a href="#" class="buy-button">Comprar</a>
                    </div>
                </article>
                <article>
                    <div>
                        <img src="images/cafe-colombia.jpg" alt="Café de colombia">
                        <h4 class="description">Café de Colombia</h4>
                        <p class="price">$3.500</p>
                        <a href="#" class="buy-button">Comprar</a>
                    </div>
                </article>
                <article>
                    <div>
                        <img src="images/cafe-colombia.jpg" alt="Café de colombia">
                        <h4 class="description">Café de Colombia</h4>
                        <p class="price">$3.500</p>
                        <a href="#" class="buy-button">Comprar</a>
                    </div>
                </article>
                <article>
                    <div>
                        <img src="images/cafe-colombia.jpg" alt="Café de colombia">
                        <h4 class="description">Café de Colombia</h4>
                        <p class="price">$3.500</p>
                        <a href="#" class="buy-button">Comprar</a>
                    </div>
                </article>
            </div>
        </section>
        <section class="about-us">
            <h3>LA EMPRESA</h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Voluptatibus, corporis quia voluptas expedita, assumenda eveniet 
                deleniti nisi quod necessitatibus similique possimus tempore magni explicabo inventore 
                sunt eaque architecto. Ex, ab?
            </p>
        </section>
        <section>
            <div class="carousel">
                <i class="fas fa-chevron-left"></i>
                <h4>Carousel</h4>
                <i class="fas fa-chevron-right"></i>
            </div>
        </section>
    </main>
    <footer>
        <div class="logo-location">
            <div class="logo"> 
                <img src="images/2333599.png" alt="Logo de Chaco Coffe">
            </div>
            <div>
                <h4>Ubicación</h4>
                <p>Lorem ipsum, dolor</p>
                <p>Lorem ipsum dolor sit.</p>
                <p>Lorem, ipsum dolor.</p>
            </div>
            <div class="footer-nav">
                <ul>
                    <li>Locales</li>
                    <li>Formas de pago</li>
                    <li>Política de devolución</li>
                    <li>Términos y condiciones</li>
                </ul>
            </div>
        </div>
        <div class="social-net">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-whatsapp-square"></i>
            <i class="fab fa-twitter-square"></i>
        </div>
        <p>Copyright © 2021-2022 Chaco Coffe</p>
    </footer>
</body>
</html>