<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chaco Coffe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header class="main-header">
        <div class="top-header">
            <div class="logo"> 
                <img src="images/2333599.png" alt="Logo de Chaco Coffe">
            </div>
            <form action="/" method="GET" class="form-input">
                <input class="search" type="text" name="busqueda" placeholder="Buscar en nuestra tienda">
                <button type="submit" class="fa fa-search search-button"></button>
            </form>
            <nav class="nav-rl">
                <a href="#" class="copy-header">Registrarse</a> 
                <a href="#" class="copy-header">Ingresar</a>
                <a href="#" class="cart desk-cart">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </nav>
        </div>
        <div class="burger-cart">
            <a href="#" class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </a>
            <a href="#" class="cart">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>
        <nav class="main-navbar">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Ventas</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section class="banner">
            <img width="100%" src="images/banner-cc.png" alt="Banner de ofertas">
    </section>
    <main>
        <section>
            <article class="title-r-form">
                <h2>Acceder</h2>
                <p>¡Hola! Ingresá tu e-mail o usuario y contraseña</p>
            </article>
            <form action="/" method="POST" class="form-login">
                <div>
                    <label for="nombreUsuario">Nombre de usuario:</label>
                <input type="text" name="nombreUsuario" id="nombreUsuario" class="input-registro" required>
                </div>
                <div>
                    <label for="contrasena">Contraseña:</label>
                    <input type="password" name="contrasena" id="contrasena" class="input-registro" required>
                </div>
                <div class="remember-pass">
                    <input type="checkbox" name="recuerdame" value="recuerdame">Recordar contraseña
                </div>
                <button type="submit" class="enviar-login form-button">Enviar</button>
            </form>
            <p class="reset-pass"><a href="/">¿Olvidaste tu contraseña?</a></p>
        </section>
    </main>
    <footer>
        <section class="logo-location">
            <div class="logo"> 
                <img src="images/2333599.png" alt="Logo de Chaco Coffe">
            </div>
            <div>
                <h4>Ubicación</h4>
                <p>Lorem ipsum, dolor</p>
                <p>Lorem ipsum dolor sit.</p>
                <p>Lorem, ipsum dolor.</p>
            </div>
            <nav class="footer-nav">
                <ul>
                    <li>Locales</li>
                    <li>Formas de pago</li>
                    <li>Política de devolución</li>
                    <li>Términos y condiciones</li>
                </ul>
            </nav>
        </section>
        <section class="social-net">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-whatsapp-square"></i>
            <i class="fab fa-twitter-square"></i>  
        </section>
        <p>Copyright © 2021-2022 Chaco Coffe</p>
    </footer>
</body>
</html>