body {
    font-size: 12px;
    font-family: 'EB Garamond', serif;
    background-color: rgb(255, 255, 255);
}

.banner img {
    width: 100%;
}

main .product:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

h3, .reset-pass {
    color: #3B90EC;
}

form button {
    border: none;
    font-family:'EB Garamond', serif;
}

.edit-delete {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.featured h3, .about-us h3, .g-title {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.products article {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: 20px 0;

}

.products img, .product-description img {
    width: 100%;
}

.description {
    font-weight: 800;
    font-size: 20px;
}

.price {
    font-size: 20px;
    margin: 5px 0;
    font-weight: bold;
    color: #176085;
    /* color: rgb(0, 75, 75); */
}


.buy-button{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 0.5px black solid; */
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    background-color: #3B90EC;
    color: white;
    margin: 10px;
    padding: 10px 5px;
}

.back-button{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 40%;
    font-size: .8rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 10px;
    padding: 10px 5px;
}

.checkout{
    display: flex;
    justify-content: center;
    align-items: center;
}

.marcas {
    margin-bottom: 50px;
}

.about-us {
    margin: 25px 0;
    text-align: center;
}

.about-us p {
    font-size: 15px;
    font-weight: 400;
}

.carousel {
    display: flex;
    margin: 50px 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    height: 150px;
}

.carousel i {
    font-size: 40px;
}

.product-description {
    margin-top: 50px;
    margin-left: 10px;
}

.name-detail {
    font-size: 1.4rem;

}

.detail h4, .detail {
    font-size: 1rem;
}

.detail span, .highlight {
    font-weight: bold;
}

.price-detail {
    font-size: 1.5rem;
    font-weight: bold;
}

.product-info {
    margin: 50px 10px;
}

.product-description p {
    margin: 20px 0;
}

.p-description {
    font-size: 1rem;
}

.description-title {
    font-size: 1.8rem;
    margin-top: 80px;
}

.subtitle {
    margin: 15px 0;
    font-size: 1.3rem;
    font-weight: bold;
}

.form-description {
    margin: 0 auto;
    padding: 30px 0;

}

.form-description label {
    display: block;
    font-weight: bold;
    font-size: 1rem;
    padding: 7px 0;
}

.weight-form, .quantity-form {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.weight-form select {
    width: 70%;
}

.quantity {
    text-align: center;

}

.quantity input {
    width: 15%;
    font-size: 20px;
}

.quantity i {
    font-size: 20px;
}

.product-description .buy-button {
    margin: auto;
    margin-top: 25px;
}

.info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: rgb(3, 90, 3);
}

.background-form {
    margin: 10px;
    background-color: rgb(245, 240, 240);
}

fieldset {
    border: none;
}

.form-registro, .form-login {
    margin: 10px;
    padding: 30px 0;
}

.form-registro label, .form-login label {
    display: block;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 10px;
    padding: 7px 0;
}

.form-registro input, .form-login input, fieldset select, textarea {
    border: solid 1px;
    border-radius: 5px;
}

.input-registro, textarea {
    width: 100%;
    padding: 5px;
}

.form-button, .checkout-button {
    border: none;
    border-radius: 3px;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0 0;
    padding: 8px;
    color: white;
    background-color: #3B90EC;
}

.header-form {
    text-align: center;
}

.remember-pass {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
}

.remember-pass input {
    position: relative;
    top: 5px;
    right: 5px;
}

.reset-pass {
    text-decoration: underline;
    margin-top: -20px;
    margin-bottom: 50px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.cart-section {
    margin-bottom: 50px;
}

.cart-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 26px;
    font-size: 1.1rem;
    border-bottom: 3px solid black;
}

.product-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.descrip-cart {
    width: 80%;
}

.img-cart {
  width: 70%;
}

.img-cart img {
    width: 100%;
}

.img-cart .fa-times-circle {
    position: relative;
    bottom: 100%;
    font-size: 25px;
}

.quantity-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-cart input {
  width: 30px;
  text-align: center;
}

.quantity-cart i {
    font-size: 1.2rem;
}

.total h3 {
    font-size: 1.3rem;
    margin: 55px 15px 0 15px;
    border-bottom: 3px solid black;
}

.total h4, .total p {
    font-size: 1.1rem;
}

.subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 15px 10px 15px;
    border-bottom: 2px solid black;
}

.subtotal-e, .form-e {
    margin: 25px 15px 10px 15px;
}

.form-e fieldset {
    font-size: .9rem;
    padding: 0.2rem;
}

.fa-long-arrow-alt-left {
    margin: 0 5px;
}

@media (min-width: 768px) {

    .featured h3, .about-us h3, .g-title {
        font-size: 2.5rem;
    }


    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .products article {
        width: 300px;
        margin: 10px 0px;
    }

    .product-description {
        display: flex;
        justify-content: center;
    }

    /* .input-registro, textarea {
        max-width: 500px;
        padding: 5px;
    } */

    .background-form {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .form-registro, .form-login {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .descrip-cart {
        width: 40%;
    }

    .img-cart {
      width: 60%;
    }

    .img-cart img {
        width: 40%;
    }

    .img-cart .fa-times-circle {
        position: relative;
        left: 30px;
        font-size: 25px;
    }

    .quantity-cart {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .quantity-cart input {
      width: 30px;
      text-align: center;
    }

    .quantity-cart i {
        font-size: 1.2rem;
    }

    .cart-title {
        display: flex;
        justify-content: center;
    }

    .cart-title h3 {
        margin: 0 240px;
    }

}

@media (min-width: 1024px) {

    h3 {
        margin: 30px 0;
    }

    .about-us h3 {
        margin-top: 100px;
    }

    .about-us p {
        font-size: 25px;
    }

    .descripcion-producto {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;

    }

    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .products article {
        width: 350px;
        margin: 10px 0px;
    }

    .weight-form, .quantity-form {
        display: flex;
        justify-content: flex-start;
        margin: 10px 0;
    }

    .quantity-form label {
        padding-right: 25px;
    }

    .weight-form select {
        width: 250px;

    }

    .form-description label {
        font-size: 1.2rem;
        margin-right: 50px;
    }

    .quantity {
        text-align: center;
    }


    .quantity input {
        width: 50px;
        font-size: 20px;

    }

    .quantity i {
        font-size: 20px;
    }


    .name-detail, .price-detail {
        font-size: 1.8rem;

    }

    .detail h4, .detail {
        font-size: 1.2rem;
    }

    .p-description {
        font-size: 1.2rem;
    }

    .buy-button {
        font-size: 20px;
        padding: 10px 10px;
        margin: 10px 10px;
    }

    .edit-product {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .cart-desktop {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .cart-title {
        display: flex;
        justify-content: center;
    }

    .cart-detail {
        max-width: 750px;
    }

    .cart-title h3 {
        font-size: 1.8rem;
        margin: 0 150px;
    }

    .total h3 {
        font-size: 1.8rem;
    }

    .img-cart {
        width: 700px;
    }

    .img-cart img {
        width: 200px;
    }

    .img-cart .fa-times-circle {
        position: relative;
        left: 30px;
        font-size: 25px;
    }

    .descrip-cart {
        width: 600px;
    }

    .quantity-cart {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .quantity-cart input {
      width: 30px;
      text-align: center;
    }

    .quantity-cart i {
        font-size: 1.2rem;
    }

    .total {
        width: 1200px;
    }


}


@media (min-width: 1600px) {
    .featured h3, .about-us h3, .g-title {
        text-align: center;
        font-size: 50px;
        font-weight: 700;

    }

    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;

    }

    .products article {
        display: flex;
        justify-content: center;
        align-items:center;
        width: 25%;
        margin: 20px 0;

    }

    .products img, .product-description img {
        width: 100%;
    }


    .img-cart {
        width: 300px;
    }


    .img-cart img {
        width: 200px;
    }

    .total {
        width: 300px;
    }

}