.logo-location {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.logo-f{
    display: flex;
    justify-content: center;
    width: 30%;
    height: 100px;
    padding-right: 8px;
}

.footer-nav a {
    display: flex;
}

.social-net {
    display: flex;
    font-size: 30px;
    margin: 15px 0;
    justify-content: center;
    align-items: center;
}

.social-net a, .footer-nav a{
    color: black;
}

@media (min-width: 1024px) {

    .logo-f{
        display: flex;
        justify-content: space-between;
        width: 250px;
    }
}