<footer>
    <section class="logo-location">
        <section>
            <figure class="logo-f"> 
                <img src="/assets/nuevoLogo-removebg-preview.png" alt="Logo de Chaco Coffe">
            </figure>
        </section>
        <section>
            <h4>Ubicación</h4>
            <p>Lorem ipsum, dolor</p>
            <p>Lorem ipsum dolor sit.</p>
            <p>Lorem, ipsum dolor.</p>
        </section>
        <nav class="footer-nav">
            <a href="#"><span><i class="material-icons">storefront</i></span>Locales</a>
            <a href="#"><span><i class="material-icons">payment</i></span>Formas de pago</a>
            <a href="#"><span><i class="material-icons">reply</i></span>Política de devolución</a>
            <a href="#"><span><i class="material-icons">policy</i></span>Términos y condiciones</a>
        </nav>
    </section>
    <nav class="social-net">
        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-whatsapp-square"></i></a>
        <a href="#"><i class="fab fa-twitter-square"></i> </a>
    </nav>
    <p class="copr">Copyright © 2021-2022 Chaco Coffe</p>
</footer>