<footer>
    <section class="logo-location">
        <figure class="logo-f"> 
            <img src="/images/2333599.png" alt="Logo de Chaco Coffe">
        </figure>
        <section>
            <h4>Ubicación</h4>
            <p>Lorem ipsum, dolor</p>
            <p>Lorem ipsum dolor sit.</p>
            <p>Lorem, ipsum dolor.</p>
        </section>
        <nav class="footer-nav">
            <a href="#">Locales</a>
            <a href="#">Formas de pago</a>
            <a href="#">Política de devolución</a>
            <a href="#">Términos y condiciones</a>
        </nav>
    </section>
    <nav class="social-net">
        <a href=""><i class="fab fa-facebook-square"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-whatsapp-square"></i></a>
        <a href=""><i class="fab fa-twitter-square"></i> </a>
    </nav>
    <p>Copyright © 2021-2022 Chaco Coffe</p>
</footer>