<header class="main-header">
    <section class="top-header">
        <figure class="logo"> 
            <img src="/images/2333599.png" alt="Logo de Chaco Coffe">
        </figure>
        <form action="/" method="GET" class="form-input">
            <input class="search" type="search" name="busqueda" placeholder="Buscar en nuestra tienda">
            <button type="submit" class="fa fa-search search-button"></button>
        </form>
        <nav class="nav-rl">
            <a href="/register" class="copy-header">Registrarse</a> 
            <a href="/login" class="copy-header">Ingresar</a>
            <a href="/cart" class="desk-cart"><i class="fas fa-shopping-cart"></i></a>
        </nav>
    </section>
    <section class="burger-cart">
        <a href="#" class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </a>
        <a href="#" class="cart">
            <i class="fas fa-shopping-cart"></i>
        </a>
    </section>
    <nav class="main-navbar">
        <a href="/">Inicio</a>
        <a href="#">Productos</a>
        <a href="#">Ventas</a>
        <a href="#">Nosotros</a>
        <a href="#">Contacto</a>
    </nav>
</header>