<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head')  %>
</head>
<body>

    <%- include('./includes/header')  %>

    <main>
      <section>
        <section class="header-form background-form">
            <h3 class="g-title">OOPS!</h3>
            <p class="detail highlight">
                No se ha encontrado ningún producto
            </p>
            <a href="/products"  class="buy-button highlight">Ver productos disponibles</a>
        </section>
    </section>
    </main>

    <%- include('./includes/footer')  %>
</body>
</html>