<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head')  %> 
</head>
<body>

    <%- include('./includes/header')  %>

    <section class="banner">
        <figure><img src="images/banner-cc.png" alt="Banner de ofertas"></figure>   
    </section>
    <main>
        <section class="featured">
            <header><h3>Destacados</h3></header>
            <section class="products">
                <article>
                    <section>
                        <figure><img src="images/cafe-colombia.jpg" alt="Café de colombia"></figure>
                        <h4 class="description">Café de Colombia</h4>
                        <p class="price">$3.500</p>
                        <a href="#" class="buy-button">Comprar</a>
                    </section>
                </article>
                <article>
                    <section>
                        <figure><img src="images/cafe-colombia.jpg" alt="Café de colombia"></figure>
                        <h4 class="description">Café de Colombia</h4>
                        <p class="price">$3.500</p>
                        <a href="#" class="buy-button">Comprar</a>
                    </section>
                </article>
                <article>
                    <section>
                        <figure><img src="images/cafe-colombia.jpg" alt="Café de colombia"></figure>
                        <h4 class="description">Café de Colombia</h4>
                        <p class="price">$3.500</p>
                        <a href="#" class="buy-button">Comprar</a>
                    </section>
                </article>
                <article>
                    <section>
                        <figure><img src="images/cafe-colombia.jpg" alt="Café de colombia"></figure>
                        <h4 class="description">Café de Colombia</h4>
                        <p class="price">$3.500</p>
                        <a href="#" class="buy-button">Comprar</a>
                    </section>
                </article>
                <article>
                    <section>
                        <figure><img src="images/cafe-colombia.jpg" alt="Café de colombia"></figure>
                        <h4 class="description">Café de Colombia</h4>
                        <p class="price">$3.500</p>
                        <a href="#" class="buy-button">Comprar</a>
                    </section>
                </article>
                <article>
                    <section>
                        <figure><img src="images/cafe-colombia.jpg" alt="Café de colombia"></figure>
                        <h4 class="description">Café de Colombia</h4>
                        <p class="price">$3.500</p>
                        <a href="#" class="buy-button">Comprar</a>
                    </section>
                </article>
            </section>
        </section>
        <section class="about-us">
            <h3>LA EMPRESA</h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Voluptatibus, corporis quia voluptas expedita, assumenda eveniet 
                deleniti nisi quod necessitatibus similique possimus tempore magni explicabo inventore 
                sunt eaque architecto. Ex, ab?
            </p>
        </section>
        <section>
            <figure class="carousel">
                <i class="fas fa-chevron-left"></i>
                <h4>Carousel</h4>
                <i class="fas fa-chevron-right"></i>
            </figure>
        </section>
    </main>

    <%- include('./includes/footer')  %>
</body>
</html>