<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head')  %>
</head>
<body>

    <%- include('../includes/header')  %>

    <section class="banner">
        <figure><img src="/images/banner-cc.png" alt="Banner de ofertas"></figure>   
    </section>
    <main>
        <section>
            <header class="header-form">
                <h2>Acceder</h2>
                <p>¡Hola! Ingresá tu e-mail o usuario y contraseña</p>
            </header>
            <form action="/" method="POST" class="form-login">
                <fieldset>
                    <label for="nombreUsuario">Correo electrónico:</label>
                    <input type="text" name="nombreUsuario" id="nombreUsuario" class="input-registro" required>
                    <label for="contrasena">Contraseña:</label>
                    <input type="password" name="contrasena" id="contrasena" class="input-registro" required>
                </fieldset>
                <fieldset class="remember-pass">
                    <input type="checkbox" name="recuerdame" id="recuerdame" value="recuerdame">
                    <label for="recuerdame">Recordar contraseña</label>
                </fieldset>
                <button type="submit" class="enviar-login form-button">Enviar</button>
            </form>
            <footer class="reset-pass"><a href="/">¿Olvidaste tu contraseña?</a></footer>
        </section>
    </main>

    <%- include('../includes/footer')  %>
</body>
</html>