<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head')  %>
</head>
<body>

    <%- include('../includes/header')  %>

    <section class="banner">
        <figure><img src="images/banner-cc.png" alt="Banner de ofertas"></figure>   
    </section>
    <main>
        <section>
            <article class="header-form">
                <h2>¡Crea tu cuenta!</h2>
                <p>¡Ingresa tus datos para poder crear un usuario y disfrutar realizando tu compra con nosotros!</p>
            </article>
            <section>
                <form action="/" method="POST" class="form-registro">
                    <fieldset>
                        <label for="nombre">Nombre:</label>
                        <input type="text" name="nombre" id="nombre" required class="input-registro">
                    </fieldset>
    
                    <fieldset>
                        <label for="apellido">Apellido:</label>
                        <input type="text" name="apellido" id="apellido" required class="input-registro">
                    </fieldset>
                    
                    <fieldset>
                        <label for="usuario">Nombre de usuario:</label>
                        <input type="text" name="usuario" id="usuario" required class="input-registro">
                    </fieldset>
    
                   <fieldset>
                        <label for="domicilio">Domicilio:</label>
                        <input type="text" name="domicilio" id="nombre" required class="input-registro">
                   </fieldset>
    
                    <fieldset>
                        <label for="contrasena">Contraseña:</label>
                        <input type="password" name="contrasena" id="contrasena" required class="input-registro">
                    </fieldset>
    
                    <fieldset>
                        <label for="confirContrasena">Confirmar contraseña:</label>
                        <input type="password" name="confirContrasena" id="confirContrasena" required class="input-registro">
                    </fieldset>
    
                    <button type="submit" class="form-button">Enviar</button>
                </form>
            </section>
            
        </section>
    </main>

    <%- include('../includes/footer')  %>
</body>
</html>